.about-servise {
  max-width: 85%;
  background: @dark-blue url("../img/about-mobile@1x.png") no-repeat;
  background-size: cover;
  padding: 15%;
  margin-top: -20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.about-servise__title {
  .title ();
}
.about-servise__text {
  font-weight: 300;
  line-height: 1.38;
}
.about-servise__text-bold {
  font-weight: bold;
  line-height: 1.38;
}
