.adress {
  background-color: @light-gold;
  padding: 40px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  position: relative;
  margin-top: -25px;
  z-index: 2;
}

.adress__wrapper {
  max-width: @mobile-width;
  margin: 0 auto;
}

.adress__text {
  position: relative;
  max-width: 50%;
  margin-left: 27%;
  margin-top: 18px;
  margin-bottom: 52px;
  text-transform: uppercase;
  font-weight: bold;
  color: @dark-blue;
  text-align: left;

  &::before {
    position: absolute;
    top: 0;
    left: -60px;
    display: block;
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: @dark-blue-grey-two url("../img/contacts-location.svg") no-repeat center / 14px 22px;
  }
}

.adress__btn {
  position: relative;
  width: 270px;
  padding: 19px 80px 19px 20px;
  font-size: 18px;
  color: @dark-blue-grey;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid @dark-blue-grey;
  background-color: @light-gold;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 7px 10px;
    border-style: solid;
    border-color: transparent transparent transparent @dark-slate-blue;
  }

  &:hover {
    color: @white;
    background-color: @dark-blue-grey;
  }

  &:active {
    color: @white-30;
    background-color: @dark-blue-grey;
  }

  &:hover::after {
    border-color: transparent transparent transparent @white;
  }

  &:active::after {
    border-color: transparent transparent transparent @white-30;
  }
}

@media (min-width: @tablet-width) {
  .adress {
    font-size: 28px;
    min-width: 56%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 85px;
  }

  .adress__wrapper {
    display: flex;
    flex-direction: column;
    max-width: @tablet-width;
    margin: 0 auto;
  }

  .adress__text {
    max-width: 100%;
    margin-bottom: 57px;
    margin-left: 155px;
    padding-left: 13px;

    &::before {
      left: -80px;
      top: -20px;
      width: 67px;
      height: 67px;
      background-size: 21px 31px;
      background-position: center;
    }
  }

  .adress__btn {
    display: inline-block;
    width: 618px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    margin: 0 auto;
    line-height: 1.6;
    padding-left: 33px;

    &::after {
      right: 23px;
    }
  }
}

@media (min-width: @desktop-width) {
  .adress {
    padding-bottom: 10px;
  }

  .adress__wrapper {
    max-width: @desktop-width;
    flex-direction: row;
    margin-left: 208px;
  }

  .adress__text {
    line-height: 2.4;
    padding-left: 40px;

    &::before {
      width: 90px;
      height: 90px;
      top: -12px;
      background-size: 28px 43px;
    }
  }

  .adress__btn {
    align-self: flex-start;
    display: inline-block;
    width: 324px;
    height: 81px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 3;
    padding: 2px 0 0 32px;
    margin-top: 10px;
    margin-left: 150px;
  }
}
