.btn {
  border: none;
}

.directions-btn,
.fellow-traveler-btn,
.map-adress__btn {
  width: 270px;
  height: 62px;
  background-color: @light-gold;
  font-size: 18px;
  font-weight: bold;
  color: @dark-slate-blue;
  text-align: left;
  border-radius: 10px;
}

.contacts__btn {
  width: 60px;
  height: 62px;
  border-radius: 10px;
  background-color: @light-gold;
}

