.btn {
  border: none;
}
.directions-btn {
  width: 270px;
  height: 62px;
  background-color: @light-gold;
  font-size: 18px;
  font-weight: bold;
  color: @dark-slate-blue;
  text-align: left;
  border-radius: 10px;
}
.fellow-traveler-btn {
  width: 270px;
  height: 62px;
  background-color: @light-gold;
  font-size: 18px;
  font-weight: bold;
  color: @dark-slate-blue;
  text-align: left;
  border-radius: 10px;
  margin: 0 auto;
}
.map-adress__btn {
  width: 270px;
  height: 62px;
  background-color: @light-gold;
  font-size: 18px;
  font-weight: bold;
  color: @dark-slate-blue;
  text-align: left;
  border-radius: 10px;
  margin: 0 auto;
}

