.calendar {
  position: relative;
  width: 221px;
  height: auto;
  padding: 5px 0;
  order: 5;
}

.calendar__month {
  display: flex;
  align-items: center;
  border-top: 1px solid @cloudy-blue;
  border-bottom: 1px solid @cloudy-blue;
  padding: 10px 0;
  padding-bottom: 5px;
}

.calendar__month-value {
  font-size: 20px;
  font-weight: bold;
  color: @dark-slate-blue;
  margin: auto;
}

.calendar__next-btn {
  padding-right: 0;
}
.calendar__prev-btn {
  padding-left: 0;
}

.calendar__icon {
  opacity: 0.3;
}


.calendar__days-name-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  margin-bottom: 0;
}

.calendar__days-name-item {
  width: 31px;
  height: 30px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: @greyish;

  span {
    display: none;
  }
}

.calendar__days-name-item--output {
  color: @orange-red;
}

.calendar__days-date-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 221px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -3px;
  margin-bottom: 30px;
}

.calendar__days-date-item {
  display: flex;
  width: 31px;
  height: 30px;
  background-color: @pale-grey;
  border: 1px solid @cloudy-blue;
  margin-right: -1px;
  margin-bottom: -1px;
}


.calendar__days-label {
  width: 31px;
  height: 30px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: @greyish;
  padding-top: 5px;

  &:hover {
    border: solid 2px @orange-red;
  }
}

.calendar__days-date-item:disabled {
  color: @greyish-brown-30;
}

.calendar__days-date-item--disabled {
  background-color: @white;


  .calendar__days-label {
    opacity: 0.3;
  }
}

.calendar__days-input:checked + .calendar__days-label {
  width: 100%;
  height: 100%;
  background-color: @dark-slate-blue;
  color: @white;
  margin: auto;
  padding-top: 5px;

  &:hover {
    border: solid 2px @orange-red;
  }
}

@media (min-width: @tablet-width) {
  .calendar {
    width: 531px;
    height: auto;
    padding: 20px 0;
  }

  .calendar__month {
    padding: 20px 10px;
    margin-bottom: 20px;
  }

  .calendar__month-value {
    font-size: 36px;
  }

  .calendar__icon {
    width: 15px;
    height: 28px;
  }

  .calendar__days-name-item {
    width: 75.8px;
    height: 50px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.18px;

    span {
      display: inline;
    }
  }

  .calendar__days-date-list {
    width: 535px;
  }

  .calendar__days-date-item {
    width: 77px;
    height: 70px;
  }

  .calendar__days-label {
    width: 77px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    padding-top: 26px;
  }

  .calendar__days-input:checked + .calendar__days-label {
    padding-top: 26px;
  }
}

@media (min-width: @desktop-width) {
  .calendar {
    width: 999px;
    padding: 20px 0;
    margin-bottom: 60px;
  }

  .calendar__icon {
    width: 18px;
    height: 34px;
  }

  .calendar__days-name-item {
    width: 142.7px;
    height: 50px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.8px;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
  }

  .calendar__days-date-list {
    width: 1000px;
  }

  .calendar__days-date-item {
    width: 143px;
    height: 72px;
    text-align: left;

    padding-left: 15px;
    padding-top: 10px;
  }

  .calendar__days-label {
    display: inline-block;
    font-weight: 300;

    padding: 0;
  }

  .calendar__days-input:checked + .calendar__days-label {
    padding: 0;
  }
}
