.contacts {
  background-color: @dark-blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contacts__title {
  .title();
  text-align: center;
}

.contacts__text {
  max-width: 61%;
  text-align: center;
  margin: 0 auto;

  a {
    color: @light-gold;
  }
}

.contacts__input {
  width: 270px;
  height: 62px;
  border-radius: 10px;
  background: @white;
  margin: 20px auto;

  &::placeholder {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    color: @point-text;
  }
}

.contacts__link-wrapper {
  display: flex;
  flex-direction: column;
  fill: @light-gold;
  margin-left: 15%;
}

.contacts__form {
  margin: 0 auto;
}

.contacts__phone,
.contacts__email {
  text-transform: uppercase;
  font-weight: bold;
  color: @light-gold;
  padding: 10px 0;
}

.contacts__btn {
  width: 60px;
  height: 75px;
  border-radius: 10px;
  background-color: @light-gold;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    font-size: 45px;
  }

  .contacts__text {
    font-size: 28px;
    min-width: 79%;
  }

  .contacts__input {
    min-width: 536px;
  }

  .contacts__link-wrapper {
    font-size: 28px;
  }
}
