.copyright {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  max-width: 84%;
  margin: 0 auto;
  border-top: 1px solid @pale-grey-four;
}

.copyright__text {
  color: @greyish;
  margin-right: auto;
}

.copyright__link {
  margin-top: 15px;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    border: none;
  }

  .copyright__text {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 20px;
  }
}
