.country-filter__title {
  color: @dark-blue;
}

@media (min-width: @tablet-width) {

  .country-filter {
    background-color: @pale-grey-four;
    min-height: 150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .country-filter__title {
    visibility: hidden;
  }
}
