.directions {
  max-width: 85%;
  background-color: @pale-gray;
  padding: 15%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.directions__title {
  .title ();
}

.directions__text {
  color: @greyish;
}

.directions-point__list {
  list-style: none;
  padding: 0;
}

.directions-btn {
  width: 270px;
  background-color: @light-gold;
  font-size: 18px;
  font-weight: bold;
  line-height: 3;
  color: @dark-slate-blue;
  text-align: left;
  border-radius: 10px;
}
