.directions {
  max-width: 85%;
  background-color: @pale-gray;
  padding: 15%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.directions__title {
  .title ();
}
.directions__text {
  color: @greyish;
}
.directions-point {

}
.directions-point__list {
  list-style: none;
  padding: 0;
}
.directions-point__item {
}
