.fellow-traveler {
  background:
  url("../img/smolov-back-desktop@1x.png") no-repeat,
  url("../img/rogovaya-back-mobile@1x.png") no-repeat;
  background-position: 90% 1%, 0 20%;
  background-color:@dark-blue;
  margin-top: -10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fellow-traveler__text-wrapper {
  max-width: 66%;
  padding-left: 18%;
}

.fellow-traveler__title {
  margin: 0;
  padding-top: 20px;
  .title ()
}

.fellow-traveler__text {
  font-weight: 300;
  line-height: 1.38;
}

.fellow-traveler__text-bold {
  font-weight: bold;
  line-height: 1.38;
}

.fellow-traveler__list {
  max-width: 85%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.fellow-traveler__item {
  margin-bottom: 10px;
}
