.fellow-traveler {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  margin-top: -30px;
  z-index: 4;
  background-color: @dark-blue;
}

.fellow-traveler__wrapper {
  max-width: @mobile-width;
  margin: 0 auto;
  padding: 60px 0 30px 0;
  background:
    url("../img/smolov-back-desktop@1x.png") no-repeat 90% 6%,
    url("../img/rogovaya-back-mobile@1x.png") no-repeat -10px 340px;


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background:
      url("../img/smolov-back-desktop@2x.png") no-repeat 90% 6%,
      url("../img/rogovaya-back-mobile@2x.png") no-repeat -10px 340px;;
    background-size: 50%, 30%;
  }
}

.fellow-traveler__text-wrapper {
  max-width: 84%;
  padding-left: 15%;
  margin-top: 18px;
  margin-bottom: 56px;
}

.fellow-traveler__title {
  margin: 0;
  padding-top: 20px;
  .title ();
}

.fellow-traveler__text {
  font-weight: 300;
  line-height: 1.38;
  margin-top: 21px;
}

.fellow-traveler__text-bold {
  font-weight: bold;
  line-height: 1.38;
  margin-top: 22px;
}

.fellow-traveler__list {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
  padding: 0;
}

.fellow-traveler__item {
  margin-bottom: 10px;
}

.fellow-traveler-btn {
  display: block;
  position: relative;
  width: 270px;
  line-height: 3.3;
  background-color: @light-gold;
  font-size: 18px;
  font-weight: bold;
  color: @dark-slate-blue;
  text-align: left;
  border-radius: 10px;
  padding-left: 25px;
  margin: 0 auto;

  &::after {
    content: "";
    display: flex;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 7px 10px;
    border-style: solid;
    border-color: transparent transparent transparent @dark-slate-blue;
  }

  &:hover {
    background-color: @mango-two;
  }

  &:active {
    color: @dark-slate-blue-30;
    background-color: @mango-two;
  }

  &:active::after {
    color: @dark-slate-blue-30;
    border-color: transparent transparent transparent @dark-slate-blue-30;
  }
}

@media (min-width: @tablet-width) {
  .fellow-traveler {
    background-color: @dark-blue;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 60px;
    margin-top: -50px;
  }

  .fellow-traveler__wrapper {
    max-width: @tablet-width;
    background:
    url("../img/rogovaya-back-desktop@1x.png") no-repeat 84% 130px,
    url("../img/smolov-back-desktop@1x.png") no-repeat 6% 475px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background:
        url("../img/rogovaya-back-desktop@1x.png") no-repeat 90% 1%,
        url("../img/smolov-back-desktop@1x.png") no-repeat 2% 20%;
      background-color: @dark-blue;
      background-size: 50%, 30%;
    }
  }

  .fellow-traveler__text-wrapper {
    max-width: 530px;
    padding-left: 76px;
    margin-top: 110px;
    margin-left: -5px;
  }

  .fellow-traveler__text {
    font-size: 28px;
    line-height: 1.18;
    margin-left: 3px;
    margin-top: 37px;
    margin-bottom: 38px;
  }

  .fellow-traveler__title {
    font-size: 45px;
    padding: 20px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -39px;
      left: -32px;
      width: 213px;
      height: 213px;
      border-radius: 20px;
      background-color: @dark-blue-grey-four;
      z-index: -1;
    }
  }

  .fellow-traveler__text-bold {
    font-size: 21px;
    max-width: 252px;
    margin-left: 3px;
  }

  .fellow-traveler__list {
    width: 85%;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .fellow-traveler__item {
    margin: 0;
    flex-basis: 46%;
  }

  .fellow-traveler-btn {
    width: 618px;
    line-height: 3.45;
    font-size: 24px;
    border-radius: 20px;
    padding-left: 32px;

    &::after {
      right: 25px;
    }
  }
}

@media (min-width: @desktop-width) {
  .fellow-traveler__wrapper {
    max-width: @desktop-width;
    display: flex;
    margin-left: 56px;
    padding-bottom: 55px;
  }

  .fellow-traveler__text-wrapper {
    margin-top: 100px;
    margin-right: 170px;
  }

  .fellow-traveler__text {
    width: 480px;
    padding-right: 20px;
  }

  .fellow-traveler__list {
    width: 700px;
    margin: 0 auto;
    margin-top: 125px;
    justify-content: flex-start;
  }

  .fellow-traveler__item {
    width: 285px;
    flex: initial;
  }

  .fellow-traveler-btn {
    position: absolute;
    left: 130px;
    bottom: 134px;
    max-width: 280px;
    border-radius: 20px;
  }
}
