.introduction {
  background:
    url("../img/traveller-illustration-desktop@1x.png") no-repeat,
    url("../img/globe-back-mobile@1x.jpg") no-repeat;
  background-color: @dark-two;
  background-size: 60% auto, contain;
  background-position: 60% 56%, 0 -80px;
  min-width: @mobile-width;
}

.introduction__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}

.introduction__review {
  margin-top: 400px;
}

@media (min-width: @tablet-width) {

  .introduction {
    background-position: 60% 100%, 0 -80px;
  }
  .introduction__title {
    font-size: 60px;
    line-height: 1.17;
    max-width: 55%;
    margin: 0 auto;
  }

}
