
.main-nav__wrapper {
  display: none;
}

.main-nav__user-list {
  display: none;
}

.main-nav__toggle {
  display: block;
  background: transparent;
  border: none;
  width: 24px;
  height: 3px;
  border-radius: 1.5px;
  background-color: @white;
  box-shadow: 0 7px 0 @white;
  padding: 0;
  margin-bottom: 10px;
}

.main-nav__toggle-image {
  fill: @white;
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-width: 52%;
  }

  .main-nav__toggle {
    margin-right: auto;
    margin-top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1080px;
  }

  .main-nav__wrapper {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__user-list {
    margin-left: auto;
  }
}
