.map {
  position: relative;
  margin-top: -10px;
  z-index: -1;
}

.map__iframe {
  min-width: 100%;
  min-height: 300px;
  border: none;
}

@media (min-width: @tablet-width) {
  .map {
    margin-top: -45px;
  }

  .map__iframe {
    min-height: 515px;
  }
}
