.map {
  position: relative;
  margin-top: -10px;
  z-index: -7;
}

.map__iframe {
  min-width: 100%;
  min-height: 446px;
  border: none;
}

@media (min-width: @tablet-width) {
  .map {
    margin-top: -35px;
  }
}
