.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: @dark-blue;
  min-width: @mobile-width;
  padding: 10px;
}
.page-header__logo-image {
  max-width: 100%;
  height: auto;

}
