.page-header {
  z-index: 9;
  background-color: @dark-two;
  padding: 0;
}

.page-header__wrapper-nav {
  max-width: @mobile-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0 25px;
}

.page-header__logo-image {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

.page-header__wrapper-blue {
  padding-bottom: 0;
  margin-bottom: -85px;
  background-color: @dark-two;
  z-index: 10;
  padding: 10px 25px;
  margin: 0 auto;
}

.page-header__wrapper-sticky {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: @white;
  width: 100vw;
  z-index: 10;
  padding: 10px 25px;
  margin: 0 auto;

  .main-nav__toggle-icon {
    fill: @pinkish-grey;
  }
}


@media (min-width: @tablet-width) {
  .page-header {
    background-color: @dark-blue-grey;
  }

  .page-header__wrapper {

  }

  .page-header__wrapper-nav {
    max-width: @tablet-width;
    padding: 0 15px;
  }

  .page-header__wrapper-blue {
    background-color: @dark-blue-grey;
  }

  .page-header__wrapper-sticky {
    background-color: @white;
  }

  .page-header__catalog {
    background-color: @dark-two;
  }

  .page-header__catalog > .page-header__wrapper {
    background-color: @dark-two;
  }


  .page-header__logo-image {
    margin-top: 11px;
  }

  .page-header__nav {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: @dark-two;
  }

  .page-header__wrapper-nav {
    max-width: @desktop-width;
    padding: 0 60px;

  }

  .page-header__wrapper-blue {
    background-color: @dark-blue-grey;
  }

  .page-header__wrapper-sticky {
    background-color: @white;
  }

}
