.page-footer {
  background-color: @white;
  min-width: @mobile-width;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  padding-top: 49px;
  margin-top: -20px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-width: @tablet-width;
    display: flex;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    padding-top: 20px;
    padding: 0 40px;
  }

  .page-footer__logo {
    margin-top: 45px;
    margin-right: 90px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    justify-content: space-between;
    padding: 0 60px;
    margin: 0 auto;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    box-sizing: border-box;
  }
}
