.page-main {
  min-width: @mobile-width;
  background-color: @pale-gray;
}
.page-main__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  background-color: @dark-two;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
