.page-footer {
  background-color: @white;
  min-width: @mobile-width;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  padding-top: 20px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-width: @tablet-width;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    justify-content: space-between;
    padding: 0 60px;
    margin: 0 auto;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    box-sizing: border-box;
  }
}
