.point {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 30px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -5px;
      z-index: 1;
      height: 81px;
      width: 100%;
      background-image: linear-gradient(to top, @pale-gray, transparent);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  }
}

.point__image {
  min-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.point__content {
  min-height: 90px;
  position: relative;
  background-color: @white;
  border-radius: 10px;
  padding: 0 9%;
  margin-top: -20px;
  z-index: 1;
}

.point__icon {
  width: 35px;
  height: 24px;
  position: absolute;
  top: -15px;
  left: 25px;
}

.point__title {
  font-size: 21px;
  font-weight: bold;
  color: @dark-two;
  line-height: 1;
  margin: 0;
  padding-top: 25px;
}

.point__text {
  font-weight: 500;
  line-height: 1.88;
  color: @point-text;
  margin: 0;
}

.point__counter {
  position: absolute;
  font-weight: 500;
  line-height: 1.88;
  color: @point-text;
  padding-left: 15px;
  margin: 0;
  top: 22px;
  right: 27px;


  &::before {
    position: absolute;
    top: 8px;
    left: 0;
    content: "";
    width: 11px;
    height: 11px;
    background: url("../img/user.svg") no-repeat;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .point {
    position: relative;
    max-width: 80%;
    min-height: 140px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1px;

    &:first-child::after {
      content: "";
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: @pale-grey-four;
      position: absolute;
      top: -40px;
      left: -39px;
    }
  }

  .point__image {
    max-height: 140px;
    width: auto;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
  }

  .point__content {
    max-height: 140px;
    flex-grow: 1;
    border-radius: 0;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    padding-left: 30px;
  }

  .point__title {
    font-size: 24px;
    padding-top: 30px;
  }

  .point__text {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    line-height: 0.88;
    padding-top: 5px;
    margin-left: -2px;
  }

  .point__counter {
    font-size: 20px;
    position: relative;
    padding-left: 25px;
    margin-top: 10px;

    &::before {
      width: 21px;
      height: 20px;
      top: 4px;
      left: 0;
    }
  }

  .point__icon {
    position: absolute;
    width: 70px;
    height: 47px;
    top: 15px;
    left: 92.5%;
  }

  .point__counter {
    top: 5px;
    left: 1px;

    &::before {
      left: -1px;
    }
  }
}

@media (min-width: @desktop-width) {
  .point {
    min-width: 559px;
    border-radius: 20px;
  }

  .point__icon {
    top: 20px;
    left: 340px;
  }

  .point__title {
    padding-top: 24px;
  }

  .point__text {
    margin: 0;
  }

  .point__counter {
    margin-left: 3px;
  }
}
