.rate {
  background-color: @pale-gray;
  padding-top: 38px;
  position: relative;
  margin-top: -25px;
  z-index: 3;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &::after {
    position: absolute;
    top: 65px;
    right: 25px;
    content: "";
    width: 99px;
    height: 99px;
    background: url("../img/rates@1x.png") no-repeat;
    background-size: contain;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/rates@2x.png") no-repeat;
      background-size: contain;
    }
  }
}

.rate__wrapper {
  padding-bottom: 35px;
  margin-left: 15%;
}

.rate__title {
  .title ();
  max-width: 45%;
  padding-top: 20px;
  margin-left: 15%;
  margin-bottom: 45px;
}

.rate__list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.rate__item {
  max-width: 70%;
  border-top: 1px solid @table-line;
  padding: 10px 0;
  position: relative;

  &:nth-child(3) {
    border-bottom: 1px solid @table-line;
  }

  &::before {
    content: "1";
    position: absolute;
    top: 0;
    right: -56px;
    text-align: center;
    padding-top: 12px;
    font-size: 16px;
    line-height: 0.88;
    width: 34px;
    height: 34px;
    background-color: @mango-three;
    border-radius: 50%;
  }

  &:nth-child(2)::before {
    content: "2";
    background-color: @mango-two;
    top: 3px;
  }

  &:nth-child(3)::before {
    content: "3";
    background-color: @light-gold;
    top: 4px;
  }
}

.rate_text {
  font-weight: 300;
  color: @greyish;
  margin: 0;
}

.rate__link {
  font-weight: bold;
  color: @dark-blue;
  padding: 10px 0;

  &:hover {
    color: @dark-slate-blue-70;
  }

  &:active {
    color: @dark-slate-blue-30;
  }
}

@media (min-width: @tablet-width) {
  .rate::after {
    top: 390px;
    right: 70px;
  }

  .rate__wrapper {
    display: table;
    margin-left: 15%;
    min-width: 84%;
  }

  .rate__title {
    font-size: 45px;
    min-width: 80%;
    text-align: center;
  }

  .rate__list {
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .rate__item {
    display: table-row;
    padding: 10px 0;

    &::before {
      width: 67px;
      height: 67px;
      font-size: 28px;
      line-height: 1;
      padding-top: 20px;
      top: 155px;
      left: 7%;
    }

    &:nth-child(1)::before {
      top: 160px;
    }

    &:nth-child(2)::before {
      top: 235px;
    }

    &:nth-child(3)::before {
      top: 305px;
    }

    &:nth-child(3)::after {
      position: absolute;
      right: 5%;
      top: 150px;
      content: "";
      width: 198px;
      height: 285px;
      border-radius: 20px;
      background-color: @pale-grey-four;
      z-index: -1;
    }
  }

  .rate_text {
    display: table-cell;
    font-size: 28px;
    padding: 20px;

    &:nth-child(1) {
      padding-right: 100px;
    }

    &:nth-child(2) {
      text-align: right;
    }
  }

  .rate__link {
    font-size: 20px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      top: -15px;
      left: -30%;
      content: "";
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background: @pale-grey-four url("../img/business.svg") no-repeat center center / 15px;
    }
  }
}

@media (min-width: @desktop-width) {
  .rate {
    &::after {
      width: 198px;
      height: 198px;
      right: 200px;
      top: 180px;
    }
  }

  .rate__item {
    &::before {
      left: 90px;
    }

    &:nth-child(3)::after {
      width: 444px;
      height: 300px;
      right: 270px;
    }
  }

  .rate__link {
    &::before {
      left: -75px;
    }
  }

  .rate_text {
    &:nth-child(1) {
      padding-right: 350px;
    }
  }
}
