.rate {
  background-color: @pale-gray;
  padding-top: 38px;
  margin-top: -25px;
  position: relative;
  z-index: 4;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rate__wrapper {
  max-width: @mobile-width;
  margin: 0 auto;
  position: relative;

  &::after {
    position: absolute;
    top: -15px;
    right: 25px;
    content: "";
    width: 99px;
    height: 99px;
    background: url("../img/rates@1x.png") no-repeat;
    background-size: contain;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/rates@2x.png") no-repeat;
      background-size: contain;
    }
  }
}

.rate__list-wrapper {
  padding-bottom: 35px;
  margin-left: 15%;
}

.rate__title {
  .title ();
  max-width: 101px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 42px;
  line-height: 1;
}

.rate__list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.rate__item {
  max-width: 200px;
  border-top: 1px solid @black-050;
  padding: 10px 2px;
  position: relative;

  &:nth-child(3) {
    border-bottom: 1px solid @black-050;
  }

  &::before {
    content: "1";
    position: absolute;
    top: 2px;
    right: -48px;
    text-align: center;
    padding-top: 12px;
    font-size: 16px;
    line-height: 0.88;
    width: 34px;
    height: 34px;
    background-color: @mango-three;
    border-radius: 50%;
  }

  &:nth-child(2)::before {
    content: "2";
    background-color: @mango-two;
  }

  &:nth-child(3)::before {
    content: "3";
    background-color: @light-gold;
  }
}

.rate_text {
  font-weight: 300;
  color: @greyish;
  margin: 0;
}

.rate__link {
  font-weight: bold;
  color: @dark-blue;
  padding: 10px 2px;

  &:hover {
    color: @dark-slate-blue-70;
  }

  &:active {
    color: @dark-slate-blue-30;
  }
}

@media (min-width: @tablet-width) {
  .rate {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 45px;
    margin-top: -55px;
  }

  .rate__wrapper {
    max-width: @tablet-width;

    &::after {
      top: 335px;
      right: 85px;
    }
  }

  .rate__list-wrapper {
    position: relative;
    margin-left: 130px;
  }

  .rate__title {
    font-size: 45px;
    min-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 73px;
  }

  .rate__list {
    margin-bottom: 50px;
  }

  .rate__item {
    padding: 0;
    padding-top: 16px;
    max-width: 562px;
    height: 67px;
    display: flex;
    justify-content: space-between;

    &::before {
      width: 67px;
      height: 67px;
      font-size: 28px;
      line-height: 1;
      padding-top: 20px;
      top: -2px;
      left: -90px;
    }

    &:nth-child(1)::after {
      position: absolute;
      right: -35px;
      top: -45px;
      content: "";
      width: 198px;
      height: 285px;
      border-radius: 20px;
      background-color: @pale-grey-four;
      z-index: -1;
    }
  }

  .rate_text {
    font-size: 28px;
    line-height: 1.18;
  }

  .rate__link {
    font-size: 20px;
    padding: 10px 0;
    margin-left: -2px;
    position: relative;
    color: @light-navy;

    &::before {
      position: absolute;
      top: -15px;
      left: -88px;
      content: "";
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background: @pale-grey-four url("../img/business.svg") no-repeat center / 17px 21px;
    }
  }
}

@media (min-width: @desktop-width) {
  .rate {
    padding-bottom: 205px;

    &::after {
      width: 198px;
      height: 198px;
      right: 200px;
      top: 180px;
    }
  }

  .rate__wrapper {
    max-width: @desktop-width;
  }

  .rate__title {
    margin-top: 105px;
  }

  .rate__item {
    max-width: 813px;
    margin-left: 90px;

    &::before {
      left: -90px;
    }

    &:nth-child(1)::after {
      width: 444px;
      height: 300px;
      right: 0;
    }
  }

  .rate__link {
    &::before {
      left: -75px;
    }
  }

  .rate_text {
    &:nth-child(1) {
      padding-right: 350px;
    }
  }
}
