.review {
  max-width: 70%;
  margin-bottom: 20px;
}

.review__citation {
  margin: 0;
  margin-left: 25%;
}

.review__text {
  font-weight: 300;
  margin: 0;
}

.review_author {
  font-weight: bold;
}

@media (min-width: @tablet-width) {

  .review {
    max-width: 45%;
  }

  .review_author {
    font-size: 21px;
  }
}

