.step-by-step {
  background-color: @dark-blue;
}

.step-by-step__list {
  position: relative;
  top: -30px;
  max-width: 85%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.step-by-step__item {
  background-color: @light-gold;
  padding: 30px;
  margin-top: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &:first-child {
    background-color: @mango;
  }

  &:nth-child(2) {
    background-color: @mango-three;
  }

  &:nth-child(3) {
    background-color: @mango-two;
  }

  &:last-child {
    border-radius: 10px;
  }
}

.step-by-step__link {
  display: inline-block;
  max-width: 55%;
  color: @dark-two;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .step-by-step {
    margin: 0 auto;
  }

  .step-by-step__list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .step-by-step__item {
    border-radius: 0;
    margin: 0;
    padding: 25px 0;

    &:first-child {
      border-top-left-radius: 10px;
      min-width: 50%;
    }

    &:nth-child(2) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-left: -20px;
      min-width: 50%;
    }

    &:nth-child(3) {
      border-bottom-left-radius: 10px;
      min-width: 50%;
    }

    &:last-child {
      border-radius: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-left: -20px;
      min-width: 50%;
    }

    .step-by-step__link {
      font-size: 22px;
      padding-left: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .step-by-step {
    margin-top: 220px;
    padding-bottom: 135px;
  }

  .step-by-step__list {
    flex-wrap: unset;
    width: 1290px;
    height: 107px;
  }

  .step-by-step__item {
    border-radius: 20px;
    max-width: 200px;
    flex-basis: 200px;

    &:first-child {
      max-width: 200px;
    }

    &:nth-child(2) {
      max-width: 200px;
    }

    &:nth-child(3) {
      max-width: 200px;
    }

    &:last-child {
      max-width: 200px;
    }
  }

  .step-by-step__link {
    font-size: 24px;
    width: 198px;
  }
}
