.traveler-overview {
  position: relative;
  margin-bottom: 10px;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 21px 0 @black-08;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.traveler-overview_card {
  max-width: 85%;
}

.traveler-overview__level {
  background-color: @black-transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 4%;
  left: 7%;
  border-radius: 50%;
}

.traveler-overview__quantity {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-top: 6px;

  &::after {
    content: "";
    width: 31px;
    height: 1px;
    opacity: 0.3;
    background-color: @white;
    position: absolute;
    top: 36px;
    left: 15px;
  }
}

.traveler-overview__text {
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.traveler-overview__photo {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.traveler-overview__personal-info {
  background-color: @white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -10px;
}

.traveler-overview__flag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.traveler-overview__flag-item {
  margin-right: 20px;
  margin-top: -10px;
}

.traveler-overview__title {
  color: @dark-slate-blue;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  position: relative;

  &:hover {
    color: @dark-slate-blue-70;
  }

  &:active {
    color: @dark-slate-blue-30;
  }
}

.traveler-overview__offline {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 55px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: @salmon;
  }
}

.traveler-overview__online {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 65px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: @green-apple;
  }
}

.traveler-overview__tag-list {
  max-width: 200px;
  list-style: none;
  line-height: 1.13;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 5px 0;
  margin-bottom: 10px;
}

.traveler-overview__tag-item {
  color: @greyish;
  margin-right: 6px;
}

.traveler-overview__tag-link {
  color: @greyish;
  line-height: 1.13;
  text-align: center;
}

.traveler-overview__transport-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  padding-bottom: 17px;
}

.traveler-overview__transport_item {
  margin-right: 10px;
}

.traveler-overview__transport-item-active {
  fill: @dark-blue;
}

.traveler-overview__icon {
  fill: @point-text;
}

@media (min-width: @tablet-width) {
  .traveler-overview {
    max-width: 285px;
    margin: 0;

    &:first-child {
      margin-right: 8px;
    }
  }

  .traveler-overview__photo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .traveler-overview__personal-info {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .traveler-overview__flag-item {
    margin-top: -15px;
  }

  .traveler-overview__title {
    font-size: 24px;
    padding-top: 7px;
    margin-left: -2px;
    margin-bottom: 10px;
  }

  .traveler-overview__offline {
    &::before {
      top: 20px;
      left: 47px;
      width: 7px;
      height: 7px;
    }
  }

  .traveler-overview__online {
    &::before {
      top: 20px;
      left: 57px;
      width: 7px;
      height: 7px;
    }
  }

  .traveler-overview__tag-list {
    max-width: 230px;
    margin-bottom: 15px;
  }

  .traveler-overview__tag-item {
    font-size: 20px;
    line-height: 1.2;
  }

  .traveler-overview__transport-list {
    padding-bottom: 20px;
  }

  .traveler-overview__transport_item {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .traveler-overview:first-child {
    margin-right: 60px;
  }
}
