.user-creation-plans {
  background-color: @light-blue-grey-five;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 25px;
}

.user-creation-plans__wrapper {
  margin: 0 auto;
  max-width: 270px;
  position: relative;
}

.user-creation-plans__fieldset {
  margin-bottom: 20px;
}

.user-creation-plans__title-wrapper {
  display: flex;
}

.user-creation-plans__title {
  margin-top: 5px;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: @dark-slate-blue;
  margin-right: 38px;
}

.user-creation-plans__step-marker-list {
  padding: 0;
  list-style: none;
  width: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-creation-plans__step-marker-item {
  position: relative;

  span {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: @steel-grey-30;
    border-radius: 50%;
    cursor: pointer;
  }
}

.user-creation-plans__step-marker-item--active {
  &::before {
    background-color: @dark-slate-blue;
    cursor: pointer;
  }
}

.user-creation-plans__legend {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: @dark-slate-blue;
}

.user-creation-plans__fieldset-description {
  line-height: 1.38;
  color: @greyish;
  font-size: 16px;
}

.user-creation-plans__btn {
  border-radius: 20px;
  background-color: @light-gold;
  font-size: 17px;
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
  color: @dark-two;
  padding: 10px 40px;
}

.user-creation-plans__btn--back {
  background-color: transparent;
}

.user-creation-plans__submit-btn {
  position: absolute;
  bottom: 10px;
  left: 25px;
  width: 230px;
  height: 40px;
  border-radius: 20px;
  background-color: @light-gold;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
