.user-list {
  display: flex;
  list-style: none;
  position: absolute;
  top: 500px;
  left: 10px;
  padding: 0;
}

.user-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @light-gold;
  border-radius: 20px;
  width: 40px;
  height: 40px;

  &:last-child {
    width: 192px;
  }
}

.user-list__link {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
  color: @dark-two;
}

@media (min-width: @tablet-width) {
  .user-list {
    position: static;
  }

  .user-list__item:not(:last-child) {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .user-list__item:not(:last-child) {
    display: flex;
  }
}
