.user-creation-plans {
  background-color: @light-blue-grey-five;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 25px;
  margin-top: -30px;
  padding-bottom: 55px;
}

.user-creation-plans__wrapper {
  margin: 0 auto;
  max-width: 270px;
  position: relative;
}

.user-creation-plans__fieldset {
  margin-bottom: 6px;
  margin-left: 0;
}

.user-creation-plans__title-wrapper {
  display: flex;
}

.user-creation-plans__title {
  margin-top: 5px;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: @dark-slate-blue;
  margin-right: 38px;
}

.user-creation-plans__step-marker-list {
  padding: 0;
  list-style: none;
  width: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-creation-plans__step-marker-item {
  position: relative;

  span {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: @steel-grey-30;
    border-radius: 50%;
    cursor: pointer;
  }
}

.user-creation-plans__step-marker-item--active {
  &::before {
    background-color: @dark-slate-blue;
    cursor: pointer;
  }
}

.user-creation-plans__fieldset-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: @dark-slate-blue;
  margin-top: 0;
  margin-bottom: 18px;
}

.user-creation-plans__fieldset-description {
  line-height: 1.38;
  color: @greyish;
  font-size: 16px;
  margin-bottom: 18px;
}

.user-creation-plans__btn {
  border-radius: 20px;
  background-color: @light-gold;
  font-size: 17px;
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
  color: @dark-two;
  padding: 11px 41px;
}

.user-creation-plans__btn--back {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  margin-left: 52px;
  margin-top: 14px;
}

.user-creation-plans__submit-btn {
  position: absolute;
  bottom: 51px;
  left: 21px;
  width: 230px;
  height: 40px;
  border-radius: 20px;
  background-color: @light-gold;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .user-creation-plans__wrapper {
    max-width: 618px;
    justify-content: center;
  }

  .user-creation-plans__fieldset-header {
    order: 1;
  }

  .user-creation-plans__title {
    font-size: 36px;
    margin-right: 280px;
  }

  .user-creation-plans__step-marker-list {
    width: 65px;
    margin-top: 15px;
  }

  .user-creation-plans__step-marker-item {
    width: auto;
  }

  .user-creation-plans__fieldset-title {
    font-size: 36px;
    line-height: 1;
  }

  .user-creation-plans__fieldset-description {
    font-size: 20px;
    line-height: 1.2;
  }

  .user-creation-plans__btn {
    padding: 30px;
    padding-right: 70px;
    text-align: left;
    font-size: 24px;
    text-transform: none;
    position: relative;
    color: @dark-slate-blue;
    margin-right: 15px;

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      border-width: 7px 10px;
      border-style: solid;
      border-color: transparent transparent transparent @dark-slate-blue;
    }
  }

  .user-creation-plans__btn--back {
    text-align: right;
    padding-right: 0;
    padding-left: 70px;

    &::after {
      top: 50%;
      transform: translate(-150px, -50%) rotate(180deg);
      border-width: 7px 10px;
      border-style: solid;
      border-color: transparent transparent transparent @dark-slate-blue;
    }
  }

  .user-creation-plans__submit-btn {
    bottom: 64px;
    left: 45px;
    width: 285px;
    height: 81px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-transform: none;
    text-align: left;
    padding-left: 34px;
    color: @dark-slate-blue;

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      border-width: 7px 10px;
      border-style: solid;
      border-color: transparent transparent transparent @dark-slate-blue;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-creation-plans {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    padding: 60px;
  }

  .user-creation-plans__wrapper {
    max-width: 1320px;
  }

  .user-creation-plans__step-marker-list {
    flex-direction: column;
    position: absolute;
    right: 300px;
    top: 208px;

    span {
      display: block;
    }
  }

  .user-creation-plans__step-marker-item {
    font-size: 20px;
    line-height: 0.69;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: @black-60;

    &::before {
      top: 1px;
      left: -40px;
    }
  }

  .user-creation-plans__step-marker-item--active {
    color: @black;
  }

  .user-creation-plans__title {
    margin-left: 70px;
  }

  .user-creation-plans__fieldset-title {
    br {
      display: none;
    }
  }

  .user-creation-plans__fieldset-description {
    width: 576px;
  }

  .user-creation-plans__btn--back {
    margin-left: 470px;
  }

  .user-creation-plans__submit-btn {
    left: 166px;
  }
}
