@dark-blue: #192144;
@dark-two: #161c35;
@dark-slate-blue: #1d2e5b;
@white: #fff;
@black-transparent: rgba(0, 0, 0, 0.5);
@pale-gray: #edeff6;
@greyish: #444;
@light-gold: #ffd74b;
@mango: #ff8d30;
@mango-three: #ffa530;
@mango-two: #ffbd30;
@mobile-width: 320px;
@point-text: rgba(68, 68, 68, 0.3);
